mark.nameHighlight{
	background-color:#FF8;
}

#chat-wrapper.noTimeStamp tr.timestamp_message,
#chat-wrapper.noTimeStamp tr.timestamp_message *,
#chat-wrapper.noEnterRoom tr.enter_message,
#chat-wrapper.noEnterRoom tr.enter_message *,
#chat-wrapper.noLeaveRoom tr.leave_message,
#chat-wrapper.noLeaveRoom tr.leave_message *,
#chat-wrapper.noLeaveRoom tr.kick_message,
#chat-wrapper.noLeaveRoom tr.kick_message *{
/* 'display: none' causes issues with the placement of the 'star buttons' */
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	border-width: 0;
	font-size: 0;
	opacity: 0;
}
