mark.keywordHighlight {
  background-color: #FF8;
}
#chat-wrapper tr.hidden_message * {
/* 'display: none' causes issues with the placement of the star buttons */
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 0;
  visibility: hidden;
}
.avatar {
  background-size: contain;
  height: 36px;
  width: 36px;
  opacity: 1.0 !important;
}
.avatar.large {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}
.inline-author {
  margin-bottom: 0.5em;
}
#emojiButton-wrapper, #soundButton-wrapper {
  width: 18px;
  height: 16px;
  margin: 2px 5px;
  opacity: 0.8;
  -webkit-transition: opacity 0.25s linear;
}
#emojiButton-wrapper:hover, #soundButton-wrapper:hover {
  opacity: 1;
}
.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip-outer {
  display: none;
  cursor: default;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 999;
  padding: 10px;
  background-color: rgba(255,255,255, 0.95);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
.tooltip-outer:before, .tooltip-outer:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  border-top: 12px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 0;
  opacity: 0.9;
}
.tooltip-outer:before {
  border-top-color: #ccc;
  bottom: -14px;
}
#emojiContainer.tooltip-outer:before, #emojiContainer.tooltip-outer:after {
  left: 269px;
}
#emojiContainer {
  width: 360px;
  margin-left: -270px;
}
#emoji-slider, #emoji-slider .panel {
  width: 370px;
}
#soundContainer {
  width: 140px;
  margin-left: -78px;
}
#soundContainer  .tooltip-inner {
  max-height: 430px;
  overflow-y: auto;
}
.tooltip-inner .emoji, .tooltip-inner > .sound {
  cursor: pointer;
}
.tooltip-inner .emoji {
  margin: 4px;
}
.tooltip-inner .emoji:hover {
  background-color: #BDF;
}
.tooltip-inner a {
  display: block;
}
#emojiContainer .coda-nav ul > li  > a  > img {
  padding: 6px 13px;
  opacity: 0.7;
}
#emojiContainer .tab-button {
  margin: 0;
}
#emojiContainer .coda-nav {
  margin: auto;
  width: 240px;
 }
#emojiContainer .coda-nav ul > li > a.current {
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);
  border: 1px solid #CACACA;
 }
#emojiContainer .coda-nav ul > li > a.current  > img {
  opacity: 1;
}
#emojiContainer .coda-nav ul > li > a:hover {
  background-color: transparent;
 }
.collapsable, .collapsable:hover {
  font-size: 0;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
.collapsable.collapsed {
  font-size: 1em;
}
.collapsable::after {
  position: relative;
  left: -26px;
  vertical-align: top;
  display: none;
  content: url("chrome-extension://__MSG_@@extension_id__/img/close.svg");
  width: 18px;
  height: 18px;
  opacity: 0.6;
}
.image:hover + .collapsable::after, .collapsable:hover::after {
  display: inline-block;
}
.collapsable:hover::after {
  opacity: 0.75;
}
.collapsable.collapsed::after {
  display: inline-block;
  left: 5px;
  content: url("chrome-extension://__MSG_@@extension_id__/img/eye.svg");
}
