mark.nameHighlight{
	background-color:#FF8;
}

#chat-wrapper.noTimeStamp tr.timestamp_message,
#chat-wrapper.noTimeStamp tr.timestamp_message *,
#chat-wrapper.noEnterRoom tr.enter_message,
#chat-wrapper.noEnterRoom tr.enter_message *,
#chat-wrapper.noLeaveRoom tr.leave_message,
#chat-wrapper.noLeaveRoom tr.leave_message *,
#chat-wrapper.noLeaveRoom tr.kick_message,
#chat-wrapper.noLeaveRoom tr.kick_message *{
/* 'display: none' causes issues with the placement of the 'star buttons' */
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	border-width: 0;
	font-size: 0;
	opacity: 0;
}

#emojiButton {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.tooltip {
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.tooltip-inner {
	display: none;
	cursor: default;
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: 999;
	width: 230px;
	margin-left: -127px;
	padding: 10px;
	border: 2px solid #ccc;
	opacity: .95;
	background-color: #fff;
}

.tooltip-inner:before, .tooltip-inner:after{
	content: "";
	position: absolute;
	z-index: 1000;
	bottom: -12px;
	left: 50%;
	margin-left: -12px;
	border-top: 12px solid white;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 0;
}

.tooltip-inner:before {
	border-top-color: #ccc;
	bottom: -14px;
}

.tooltip-inner .emoji {
	cursor: pointer;
	margin: 4px;
}