* {
	cursor: pointer;
}
body {
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin-left: 0;
	padding-left: 0;
	min-height: 55px;
}
#avatar {
	clear: both;
	display: block;
	width: 46px;
	margin: 0 auto;
	border-radius: 4px;
	background-size: contain;
}
#author {
	clear: both;
}
#left {
	float: left; 
	width: 64px;
	height: 100%;
	text-align: center;
	font-weight: bold;
}
#right {
	margin-left: 64px;
	height: 100%;
}
#room {
	margin: 0;
	padding: 0;
	color: #888;
}