body {
	font-size: 85%;
	margin:0;
}
p {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.description {
	margin-left: 8px;
}
.coda-slider {
	border-top: 1px solid #CCC;
}
body, #wrapper, .coda-slider, .coda-slider .panel {
	width: 400px;
}
#logo {
	background: url(../img/icon48.png) no-repeat;
	margin: 4px 40px -32px auto;
	height: 48px;
	width: 48px;
	left: 0;
	top: 10px;
}
#notificationTimeout {
	width: 75px;
}