body {
	font-size: 85%;
}
.description {
	margin-left: 8px;
}
.coda-slider .panel-wrapper {
	padding: 10px;
}
body, #wrapper, .coda-slider, .coda-slider .panel {
	width: 400px;
}
#wrapper:after {
	display: none;
}
#logo {
	background: url(../img/icon64.png) no-repeat;
	margin: 0 24px -48px auto;
	height: 64px;
	width: 64px;
	left: 0;
	top: 10px;
}
#notificationTimeout {
	width: 75px;
}