body {
	font-family: arial, sans-serif;
	color: #222;
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}
.cb-enable, .cb-disable, .cb-enable > span, .cb-disable > span {
	background: url(../img/switch.png) repeat-x;
	display: block;
	float: left;
}
.cb-enable > span, .cb-disable > span {
	line-height: 30px; 
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #000;
	padding: 0 10px;
	text-shadow: 0 1px 0 #E5E5EE;
}
.cb-enable > span {
	background-position: left -90px;
}
.cb-disable > span { 
	background-position: right -180px;
}
.cb-disable.selected {
	background-position: 0 -30px;
}
.cb-disable.selected > span {
	background-position: right -210px;
	color: #FFF;
	text-shadow: 0 -1px 0 #374683;
}
.cb-enable.selected {
	background-position: 0 -60px;
}
.cb-enable.selected > span {
	background-position: left -150px;
	color: #FFF;
	text-shadow: 0 -1px 0 #374683;
}
.switch > label {
	cursor: pointer;
}
.description {
	margin-left: 0.6em;
}
.coda-slider {
	background-color: white;
}
#wrapper {
	position:relative;
}
#wrapper:after{
	content: "";
	position: absolute;
	z-index: -1;
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	border-radius: 100px / 22px;
	box-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
}
.description {
	line-height: 30px;
}
#logo {
	background: url(../img/icon96.png) no-repeat;
	display: block;
	position: relative;
	z-index: 1;
	left: 195px;
	margin: 0 auto -75px auto;
	height: 96px;
	width: 96px;
}
#rangeTooltip {
	position: relative;
	top: -0.4em;
}
#notificationTimeout {
	width: 80px;
}
#wrapper, .coda-slider, .coda-slider .panel  {
	width: 525px;
}
#wrapper {
	margin: 0 auto;
}
.label {
	padding: 1px 3px 2px;
	font-size: 9.75px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #BFBFBF;
	border-radius: 3px;
}
.red {
	background-color: #C43C35;
}
.asterisk {
	color: #C43C35;
	font-weight: bolder;
	font-size: 1.5em;
}
.coda-slider .panel-wrapper {
	padding: 20px;
}
.coda-nav ul > li  > a {
	padding: 6px 0;
	width: 8em;
	text-align: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.coda-nav ul > li > a.current {
	background: white;
	font-weight: bold;
	border-style: solid;
	border-color: #CACACA;
	border-width: 1px 1px 0 1px;
 }
 .coda-nav ul > li:first-child > a.current {
	border-left-width: 0;
 }
